.coop-offer {
  margin-top: 120px;
  padding-bottom: 100px;
}

.contact__block {
  display: flex;
  justify-content: space-between;
}

.contact__field {
  width: 97%;
}

.contact__wrap_one {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact__wrap_two {
  width: 100%;
  display: flex;
  flex-direction: column;
}